*{ margin:0px;padding:0px; }

body{
     font-family: Arial;
 }

main, nav, article, aside, section, header,
footer { 
    display:block; 
}

.clear{
    clear: both;
}

header {
    width:100%;
    height:123px;
    background-color: #F2E9E9;
    padding-top: 1px;
}

footer {
    width:100%;
    height:41px;
    background-color: #000000;
}




.selectB{
    background-image: url(../images/Ellipse.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    margin-top: 26px;
    text-transform: uppercase;
   
}

li{
    float: left;
    padding-top: 40px;
    
}

li a{
    display: block;
    color: #ffffff;
    margin-right: 17px;
    text-decoration: none;
    font-size: 24px;
    color: #000000;

    
}


nav ul li:hover{
    background-image: url(../images/Ellipse.png);
    background-repeat: no-repeat;
    background-position: 50%;

 }

/* Layout1 */

.boxes{
    margin: 0 auto;
}

#layout1 .wrappwr{
    margin: 0 auto;
    width: 952px; /* bast on figma */
}

#layout1 main{
    width: 1440px;
    height:1000px;
    margin: 0 auto;
}

nav{
    font-size: 24px;
    width: 291px;
    height: 33px;
    margin: 50px auto;
}




.boxes div{
    position: absolute;
    background-color: #ebef18;
}

#layout1 .text {
    margin-top: 267px;
    float: left;
    width: 50%;
    height: 120px;

}

#layout1 h1{
    font-style: normal;
    font-size: 72px;
    font-weight: bold;
    line-height: normal;
}

#layout1 h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
}

#layout1 .boxes{
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
    width: 50%;
    height: 500px;
    text-align: center;
}

#layout1 .box1{
    position: relative;
    top:135px;
    left: 0;
    width: 75px;
    height: 23px;
}

#layout1 .box4{
    position: relative;
    top: 143px;
    left: 0;
    width: 136px;
    height: 46px;
}

#layout1 .box5{
    position: relative;
    top: 154px;
    left: 0;
    width: 134px;
    height: 404px;
}

#layout1 .box6{
    position: relative;
    top: 165px;
    left: 0;
    width: 88px;
    height: 28px; 
}

#layout1 .box7{
    position: relative;
    top: 172px;
    left: 0;
    width: 25px;
    height: 26px;
}

#layout1 .box8{
    position: absolute;
    top: 673px;
    left: 32px;
    width: 25px;
    height: 26px;
    
    
}

#layout1 .box9{
    position: absolute;
    top: 135px;
    left: 149px;
    width: 246px;
    height: 352px;
}

#layout1 .box10{
    position: absolute;
    top: 503px;
    left: 149px;
    width: 123px;
    height: 212px;
}

#layout1 .box11{
    position: absolute;
    top: 503px;
    left: 286px;
    width: 55px;
    height: 105px;
}

#layout1 .box12{
    position: absolute;
    top: 615px;
    left: 286px;
    width: 110px;
    height: 58px;
}

#layout1 .box13{
    position: absolute;
    top: 91px;
    left: 409px;
    width: 28px;
    height: 55px;
}

#layout1 .box14{
    position: absolute;
    top: 157px;
    left: 409px;
    width: 28px;
    height: 55px;
}

#layout1 .box15{
    position: absolute;
    top: 223px;
    left: 409px;
    width: 28px;
    height: 55px;
}

#layout1 .box16{
    position: absolute;
    top: 289px;
    left: 409px;
    width: 28px;
    height: 198px;
}

#layout1 .box17{
    position: absolute;
    top: 503px;
    left: 382px;
    width: 55px;
    height: 105px;
}



/* Layout 2 */

#layout2 .wrappwr{
    margin: 0 auto;

}


#layout2 body{
    width: 1440px;
    height:2024px;
}

#layout2 main{
    width: 969px;
    height:1860px;
    overflow: hidden;

    
}

#layout2 footer{
    position: fixed;
    bottom: 0;
}



#layout2 aside{
    float: right;
    width: 169px;
    height: 1860px;
    background-color: #ebef18;
}

 #layout2 aside ul{
    margin-top: 1240px;;
    text-align: center;
    font-size: 96px;
    word-wrap: break-word;
    width: 81px;
    margin-left: 44px;
    
 }

 #layout2 aside ul a{
     text-decoration: none;
     color: #000000;
     text-decoration: none;
 }

#layout2 .boxs01{
    float: left;
    margin-top: 49px;
    width: 457px;
    height: 1860px;
}

#layout2 .boxs02{
    float:right;
    margin-top: 197px;
    margin-left: 55px;
    width: 457px;
    height: 1860px;
}

#layout2 .box1
{   position: relative;
    margin-top: 70px;
    height: 299px;
    width: 457px;
    background-color: #c4c4c4;
}


#layout2 .sbox1
{
    position: relative;
    top: 119px;
    height: 80px;
    width: 80px;
    background-color: #000000;
    float: left;
}

#layout2 .sbox2
{
    position: relative;
    top: 247px;
    height: 80px;
    width: 80px;
    background-color: #ffffff;
    float: right;
}

#layout2 .sbox3
{
    position: relative;
    top: 417px;
    height: 80px;
    width: 80px;
    background-color: #000000;
    float: left;
}


/* Layout 3 */

#layout3 .flex{
    display: flex;
    height: 100%;

}


#layout3  main{
    float: left;
    width: 67vw;
    min-height: 100vh;
    clear: both;
}

#layout3 aside.menu{
    float: left;
    width: 25.8vw;
    background-color: #E5E5E5;
    clear: both;
}

#layout3 aside.green{
    float: right;
    width: 7.2vw;
    background-color: rgba(24, 239, 33, 0.3);
    clear: both;
}

#layout3 section.yellow{
    width: 100%;
    height: 463px;
    background-color: #EBEF18;
    top: 995px;
}

#layout3 .blackbutton{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #000000;
    top: 21px;
    right: 24px;
    float: right;
}

/*JS*/

.show p{
    color: #ffffff;
}

.blackbox{
    background-color: #000000;
    float: left;
    margin: 123px 64px;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}


.blackbox.correct{
    background-color: #EBEF18;
    color: #ffffff;
}


@media (max-width: 1074px) {
     #layout3 .flex{
         display: block;
         overflow: hidden;
     }

     #layout3 aside.menu {
         width: 100%;
         height: 105px;
     }

     #layout3 main {
         width: 100%;
     }

     #layout3 aside.green{
         display: none;
     }

     #layout3 li {
         padding-top: 30px;
     }

}