*{ margin:0px;padding:0px; }

body{
     font-family: Arial;
 }

main, nav, article, aside, section, header,
footer { 
    display:block; 
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}